.gallery {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(120px, auto));
  grid-auto-flow: dense;
  transition: .5s;
  &__item {
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      border-radius: 10px;
      transition: .5s;
      &:hover {
        transform: scale(1.1);
      }

    }

    .remove{
      position: absolute;
      right: 2px;
      top: -40px;
      padding: 5px 10px;
      cursor: pointer;
      background: #ff2727;
      color: white;
      font-size: 20px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      opacity: .7;
      z-index: 10;
      transition: .3s;
      &:hover{
        opacity: 1;
      }
    }
    &:hover  .remove{
      top: 2px;
    }
  }
  .big {
    grid-column: span 2;
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
